*, body {
  box-sizing: border-box;
}
$color1: #456990;
$color2: rgba(255, 253, 117, 0.84);

// Reusable Elements
a {
  text-decoration: none;
}

form {
  text-align: center;
  margin: 0 auto;
  label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
    font-size: 0.7em;
    display: block;
    margin-bottom: 5px;
    color: $color2;
  }
  input {
    color: white;
    border: solid 2px $color1;
    background: transparent;
    height: 40px;
    width: calc(100% - 4px);
    margin-bottom: 10px;
    padding-left: 10px;

    &:active, &:focus {
      border: solid 2px $color2;
      outline: none;
    }
  }
}

ul.inline {
  list-style-type: none;
  li {
    display: inline-block;
  }
}

.wrapper {
  height: 100%;
  position: relative;
  max-width: 767px;
  width: 100%;
  margin: 0 auto;
}

@fa-font-path:   "../bower_components/font-awesome/fonts";

@mixin vendorize($property, $value) {
  -webkit-#{$property}: $value;
  -moz-#{$property}: $value;
  -ms-#{$property}: $value;
  -o-#{$property}: $value;
  #{$property}: $value;
}
